{% extends "base.html" %}
{% load static %}

{% block title %}Сброс пароля{% endblock %}


{% block content %}
    <div id="form-block">
        <h1 class="form-header">Смена пароля</h1>
        {% if validlink %}
            <p style="text-align: center;">Установите новый пароль</p>
            <form method="post">
                {% csrf_token %}
                <input type="password" name="new_password1" placeholder="Новый пароль" required>
                <input type="password" name="new_password2" placeholder="Еще раз)" required>
            <p><input type="submit" value="Сменить пароль" /></p>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already
            been used. Please request a new password reset.</p>
            <p>Ссылка на смену пароля неверна, возможно потому что она
                уже была использовано. Пожалуйста, сделайте новый запрос на сброс пароля.
            </p>
        {% endif %}
        {% if form.errors %}
			<div class="errors">
				<ul>
					{% for field, errors in form.errors.items %}
						<li>
							<ul>
								{% for error in errors %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
    </div>
{% endblock %}