{% extends "base.html" %}
{% load static %}

{% block title %}Смена пароля{% endblock %}


{% block content %}
    <h1 class="registration-header">Смена пароля</h1>
    <div id="registration-block">
        <form method="post">
            {% csrf_token %}
            <input type="password" name="Old password" placeholder="Пароль" required>
            <input type="password" name="New password" placeholder="Повторите пароль" required>
            <input type="password" name="New password confirmation" placeholder="Повторите пароль" required>

            {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <p><input type='submit' value="Зарегистрироваться"></p>
        </form>
    </div>
    
{% endblock %}
